<!----------------ただのコピペ。ヘッダーとかいらないのか不明------------------->


<!----------------delete-cannel-modalというidをつけてグループ化（設定）------------------->
<div id="delete-channel-modal" class="modal">

    <!----------delete-channel-modalの中でmodalという名前のグループ（設定）---------->
      <div class="modal-content">
    
    <!---------modalの中でheaderのグループ（設定）--------->
        <div class="modal-header">
    
         <!----タイトル----->
          <h5>本当に削除しますか？</h5> 
        
         <!----閉じるための×ボタン----->
          <span class="modalClose" id="delete-page-close-btn">×</span>
        </div>
    <!---------modalの中でheaderのグループ（設定）終わり--------->
    
    <!---------modalの中でbodyのグループ（設定）--------->
        <div class="modal-body">
          <p>削除ボタンを押すとチャンネルが消えます</p>
          <p>本当によろしいですか？</p>
          <!---削除ボタン----->
          <a id="delete-confirm-link">
            <button id="delete-channel-confirmation-btn">削除</button>
          </a>
        </div>
    <!---------modalの中でbodyのグループ（設定）--------->
      </div>
    <!----------delete-channel-modalの中でmodalという名前のグループ（設定）---------->
    </div>
    <!----------------delete-cannel-modalというidをつけてグループ化（設定）終わり------------------->






