@charset "utf-8";

body{
  background-color:  #B4D6FF;
  width:100%; /*ページ全体の幅は100%と指定する*/	
  text-align:center; /*ページ全体を中央揃えにする*/
}

.header-list {
  display:flex;
  justify-content: flex-end;
  margin-right: 15px;
  list-style: none;
}

.applogo {
font-size: 30px;
list-style: none;
display: inline-block;
margin-right: auto;
font-weight: bold;
color: #15e01f;
text-shadow: 1px -1px 1px #bdbdbd, -1px 2px 1px #737272, -2px 4px 1px #767474,
    -3px 6px 1px #787777, -4px 8px 1px #424242, -5px 10px 1px #616161,
    -6px 12px 1px #757575, -7px 14px 1px #9e9e9e, -8px 16px 1px #bdbdbd,
    -9px 18px 1px #e0e0e0;
color:rgb(242, 227, 60);
}

.applogo a {
  text-decoration: none;
  color: #7D8895;
}

.appname a {
  display: inline-block;
  color: #7D8895;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  
}

.mapname{
  font-size: large;
}

.titele{
  font-size: x-large;
  font-weight: bold;
}

.h{
  font-size: medium;
}

.create-button a{
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  margin-top: 30px;
}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  
}

a.btn--yellow:active {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

.channel-form-inputname{
  width:250px;
}

.channel-form-inputdetaile{
  width: 250px;
}