@charset "utf-8";

body {
  background-color: d3d3d3;
  width: 100%; /*ページ全体の幅は100%と指定する*/
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;
}
.header {
  background-color: white;
}

.header-list {
  display:flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.header li {
}

.applogo {
  color: #7D8895;
  font-size: 30px;
  list-style: none;
  display: inline-block;
  /* padding: 10px; */
  margin-right: auto;
}

.applogo a {
  text-decoration: none;
  color: #7D8895;
}

.appname {
  display: inline-block;
  color: #7D8895;
  list-style: none;
  padding: 15px;
  
}

.appname a {
  text-decoration: none;
  color: #7D8895;
  justify-content: flex-end;
}

h1 {
  text-align: center;
  padding: 22px 0;
  margin: 0 auto;
}

.日本地図 {
  /*位置の基準として置いている。実態はない*/
  position: relative; /* 位置の基準となる */
  width: 68%;
  margin: auto;
  height: auto;
  z-index: -2;
  text-align: center;
}

.map1 {
  width: 100%;
  height: auto;
}

.北海道 {
  position: absolute;
  top: 9%; /*100,1050*/
  left: 84%;
  z-index: 1;
}

.東北地方 {
  position: absolute;
  top: 40%;
  left: 80%;
}

.関東地方 {
  position: absolute;
  top: 65%;
  left: 81%;
}

.信越・北陸地方 {
  position: absolute;
  top: 50%;
  left: 60%;
}

.東海地方 {
  position: absolute;
  top: 69%;
  left: 66%;
}

.近畿地方 {
  position: absolute;
  top: 75%;
  left: 48%;
}

.中国地方 {
  position: absolute;
  top: 65%;
  left: 31%;
}

.四国地方 {
  position: absolute;
  top: 81%;
  left: 31%;
}

.九州地方 {
  position: absolute;
  top: 71%;
  left: 14%;
}


.channels{
  position: absolute;
  top: 150%;/*拡大縮小に対応できるようパーセントに変更*/
  left: 50%;
  transform: translate(-50%, 0%);/*左上が移動の基準になっているためその分x軸に移動している*/
 
  background: hsl(220, 3%, 77%);
  height: 2500px;
  width: 1050px;
  z-index: -2;
}




/*ここから地方ごとの表示内容*/
.box1 {
  position: absolute; /*html上の親の'channels'に対してabsolute*/
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  width: 800px;
  height: 80px;
  background: hsl(216, 33%, 51%);
  z-index: -1;
}


.box1 p {
  position: absolute; /*html上の親の'box'に対してabsoluteで真ん中上めに配置*/
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

.box1 a {
  position: absolute; /*html上の親の'box'に対して、チャンネルごとに50pxずつ*/
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}




.box2 {
  position: absolute; /*html上の親の'channels'に対してabsolute*/
  top: 10%; /*ここだけ変更したらうまくいくかな*//*px表記だと拡大縮小に対応できないので変更（元は350px)*/
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  width: 800px;
  height: 230px;
  background: hsl(181, 33%, 51%);
  z-index: -1;
}


.box2 p {  /*東北地方の文字*/
  position: absolute; /*html上の親の'box'に対してabsoluteで真ん中上めに配置*/
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

.box2 ul {   /*チャンネル一覧*/
  position: absolute; /*html上の親の'box'に対して、チャンネルごとに50pxずつ*/
  padding-left: 0;/*点を消す*/
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  z-index: 1;
}

.box2 li{
  list-style:none;/*点を消す*/
}


.box3 {
  position: absolute; /*html上の親の'channels'に対してabsolute*/
  top: 22%; /*ここだけ変更したらうまくいくかな*//*px表記だと拡大縮小に対応できないので変更（元は350px)*/
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  width: 800px;
  height: 250px;
  background: hsl(170, 20%, 65%);
  z-index: -1;
}



.box3 p {  /*関東地方の文字*/
  position: absolute; /*html上の親の'box'に対してabsoluteで真ん中上めに配置*/
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}


.box3 ul {   /*チャンネル一覧*/
  position: absolute; /*html上の親の'box'に対して、チャンネルごとに50pxずつ*/
  padding-left: 0;/*点を消す*/
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  z-index: 1;
}

.box3 li{
  list-style:none;/*点を消す*/
}


.box4 {
  position: absolute; /*html上の親の'channels'に対してabsolute*/
  top: 35%; /*ここだけ変更したらうまくいくかな*//*px表記だと拡大縮小に対応できないので変更（元は350px)*/
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  width: 800px;
  height: 280px;
  background: hsl(141, 50%, 55%);
  z-index: -1;
}


.box4 p {  /*北陸地方の文字*/
  position: absolute; /*html上の親の'box'に対してabsoluteで真ん中上めに配置*/
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

.box4 ul {   /*チャンネル一覧*/
  position: absolute; /*html上の親の'box'に対して、チャンネルごとに50pxずつ*/
  padding-left: 0;/*点を消す*/
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  z-index: 1;
}


.box4 li{
  list-style:none;/*点を消す*/
}


.box5 {
  position: absolute; /*html上の親の'channels'に対してabsolute*/
  top: 50%; /*px表記だと拡大縮小に対応できないので変更*/
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  width: 800px;
  height: 200px;
  background: hsl(98, 59%, 55%);
  z-index: -1;
}


.box5 p {  /*北陸地方の文字*/
  position: absolute; /*html上の親の'box'に対してabsoluteで真ん中上めに配置*/
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

.box5 ul {   /*チャンネル一覧*/
  position: absolute; /*html上の親の'box'に対して、チャンネルごとに50pxずつ*/
  padding-left: 0;/*点を消す*/
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  z-index: 1;
}


.box5 li{
  list-style:none;/*点を消す*/
}


.box6 {
  position: absolute; /*html上の親の'channels'に対してabsolute*/
  top: 61%; /*px表記だと拡大縮小に対応できないので変更*/
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  width: 800px;
  height: 250px;
  background: hsl(44, 68%, 50%);
  z-index: -1;
}


.box6 p {  /*北陸地方の文字*/
  position: absolute; /*html上の親の'box'に対してabsoluteで真ん中上めに配置*/
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

.box6 ul {   /*チャンネル一覧*/
  position: absolute; /*html上の親の'box'に対して、チャンネルごとに50pxずつ*/
  padding-left: 0;/*点を消す*/
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  z-index: 1;
}


.box6 li{
  list-style:none;/*点を消す*/
}


.box7 {
  position: absolute; /*html上の親の'channels'に対してabsolute*/
  top: 72%; /*px表記だと拡大縮小に対応できないので変更*/
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  width: 800px;
  height: 220px;
  background: hsl(27, 68%, 50%);
  z-index: -1;
}


.box7 p {  /*北陸地方の文字*/
  position: absolute; /*html上の親の'box'に対してabsoluteで真ん中上めに配置*/
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

.box7 ul {   /*チャンネル一覧*/
  position: absolute; /*html上の親の'box'に対して、チャンネルごとに50pxずつ*/
  padding-left: 0;/*点を消す*/
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  z-index: 1;
}


.box7 li{
  list-style:none;/*点を消す*/
}



.box8 {
  position: absolute; /*html上の親の'channels'に対してabsolute*/
  top: 82%; /*px表記だと拡大縮小に対応できないので変更*/
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  width: 800px;
  height: 200px;
  background: hsl(5, 68%, 72%);
  z-index: -1;
}


.box8 p {  /*北陸地方の文字*/
  position: absolute; /*html上の親の'box'に対してabsoluteで真ん中上めに配置*/
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

.box8 ul {   /*チャンネル一覧*/
  position: absolute; /*html上の親の'box'に対して、チャンネルごとに50pxずつ*/
  padding-left: 0;/*点を消す*/
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  z-index: 1;
}


.box8 li{
  list-style:none;/*点を消す*/
}



.box9 {
  position: absolute; /*html上の親の'channels'に対してabsolute*/
  top: 93%; /*px表記だと拡大縮小に対応できないので変更*/
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  width: 800px;
  height: 280px;
  background: hsl(5, 56%, 59%);
  z-index: -1;
}


.box9 p {  /*北陸地方の文字*/
  position: absolute; /*html上の親の'box'に対してabsoluteで真ん中上めに配置*/
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

.box9 ul {   /*チャンネル一覧*/
  position: absolute; /*html上の親の'box'に対して、チャンネルごとに50pxずつ*/
  padding-left: 0;/*点を消す*/
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
  z-index: 1;
}


.box9 li{
  list-style:none;/*点を消す*/
}