body {
    margin:0;
    padding:0;
}

.header {
    background-color: white;
}

.appname {
    color: #7D8895;
    margin-left:10px;
}

.main {
    background-color:  rgba(157, 204, 248, 0.95);
    height: 100vh;
    margin:0;
}

.main-logo h1 {
    color: #001A72;
    text-align: center;
    font-size: 90px;
    margin-top:0;
    margin-bottom:0;
    padding-top:100px;
}

.outline p {
    color: white;
    font-size:20px;
    text-align:center;

}

.buttons {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.signup-button {
    margin-right: 50px;

}

.login-button {
    margin-left: 50px;
}


.signup-button button {
    background-color: #1D72F2;
    width:227px;
    height:71px;
    border: 3px solid #FFF8F8;
    box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.signup-button button:hover {
    background-color: #094298;
}

.login-button button {
    background-color: #308B4A;
    width:227px;
    height:71px;
    border: 3px solid #FFF8F8;
    box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.login-button button:hover {
    background-color: #06551C;
}

.signup {
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.login {
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.app-name {
	font-size:30em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color:#1D72F2;
	text-shadow:
		1px -1px 1px #BDBDBD,
		-1px 2px 1px #737272,
		-2px 4px 1px #767474,
		-3px 6px 1px #787777,
		-4px 8px 1px #424242,
		-5px 10px 1px #616161,
		-6px 12px 1px #757575,
		-7px 14px 1px #9E9E9E,
		-8px 16px 1px #BDBDBD,
		-9px 18px 1px #E0E0E0;
}

p{
    font-size: 5px;
}
