<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>トップページ</title>
    <link rel="stylesheet" href="../../static/css/errer.css" />
    <link
      href="https://fonts.googleapis.com/earlyaccess/nikukyu.css"
      rel="stylesheet"
    />
  </head>

    <body class="error">
    <div class="error-wrapper">
    <div class="error-content">
    <div>
    <span class="error-num">5</span>
    <div class="eye"></div>
    <div class="eye"></div>
    </div>
    <!-- レスポンスステータスコード500を返すことがあった場合にここのdivタグを表示する　-->
    <div class="error-description error404or500">
    <p>エラーが発生しました。</p>
    <p>管理者にお問い合わせください。</p>
    <button class="basic-btn error-btn">
    <!-- index.htmlに戻るリンク -->
    <a href="{{ url_for('index') }}"> 戻る </a>
    </button>
    </div>
    </div>
    </div>
    
    </body>
    <!-- スクリプトタグ error.jsを参照 -->
    <script
    src="{{url_for('static',filename='js/error.js')}}"
    type="text/javascript"
    ></script>

</html>