<!-- HTTPレスポンスステータスコード　500 Internal Server Error -->
<!-- サーバー側で処理方法が分からない事態が発生したことを示す際のページ -->
<!-- extends 'error/base.html'%>でerrorフォルダにあるbase.htmlを継承 -->
{% extends 'error/base.html' %} {% block title %} error {% endblock %} {% block
    body %}
    <body class="error">
    <div class="error-wrapper">
    <div class="error-content">
    <div>
    <span class="error-num">5</span>
    <div class="eye"></div>
    <div class="eye"></div>
    </div>
    <!-- レスポンスステータスコード500を返すことがあった場合にここのdivタグを表示する　-->
    <div class="error-description error404or500">
    <p>エラーが発生しました。</p>
    <p>管理者にお問い合わせください。</p>
    <button class="basic-btn error-btn">
    <!-- index.htmlに戻るリンク -->
    <a href="{{ url_for('index') }}"> 戻る </a>
    </button>
    </div>
    </div>
    </div>
    <!-- imgタグ　画像を表示する -->
    <img
    src="{{ url_for('static',filename='img/cat2.gif') }}"
    class="error-gif"
    />
    </body>
    {% endblock %} {% block script %}
    <!-- スクリプトタグ error.jsを参照 -->
    <script
    src="{{url_for('static',filename='js/error.js')}}"
    type="text/javascript"
    ></script>
    {% endblock %}