<!-- 404.htmlと500.htmlの共通するheadタグ-->
<!DOCTYPE html>
<!--　言語は英語を使用するという宣言　-->
<html lang="en">
  <head>
		<!--　文字コードはUTF-8を使用する　　-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/color.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/error.css') }}"
    />
  </head>
  {% block body %} {% endblock %} {% block script %} {% endblock %}
</html>