<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>トップページ</title>
    <link rel="stylesheet" href="../../static/css/errer.css" />
  
  </head>


    <body class="error">
      <div class="error-wrapper">
        <div class="error-content">
          <div class="error-title"><span>SORRY</span></div>
          <div class="error-description">
            <p>{{ error_message }}</p>
            <button class="basic-btn error-btn">
              <a href="{{ url_for('index') }}"> 戻る </a>
            </button>
          </div>
        </div>
      </div>
    </body>
    <script
    src="{{url_for('static',filename='js/error.js')}}"
    type="text/javascript"
    ></script>
</html>