<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ユーザーリスト</title>
    <link
      rel="stylesheet"
      href="../static/css/user-profile.css"
    />
  </head>
  <body>
    <div class="header">
      <ul class="header-list">
          <li class="applogo">tabiComi</li>
          <li class="appname"><a href="/my_info/{{uid}}">マイページ</a></li>
          <li class="appname"><a href="/users">ユーザーリスト</a></li>
          <li class="appname"><a href="/logout">ログアウト</a></li>
      </ul>
    </div>

    <div class="main-container channelpage">
      <div class="main-content">
        <div class="channel-title">
          <h1 class="userlist-h1">旅好きの人たち</h1>
          <p class="subtitle">---つながろう・広めよう---</p>
        </div>
        <div class="pagination-container">
        <p id="prev"></li>
        <ul class="pagination"></ul>
        <p id="next"></p>
        </div>
        <ul class="channel-box"></ul>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    // 変更点
    const users = JSON.parse('{{ users|tojson }}')
    // uidは自分のuidとusersのuidと紛らわしいのでuserIDにリネームする。
    // const uid = JSON.parse('{{ uid|tojson }}');
    const userID = JSON.parse('{{ uid|tojson }}');
  </script>

  <!-- 書き換え -->
  <script
    src="{{url_for('static',filename='js/pagenation_users.js')}}"
    type="text/javascript">
  </script>
</html>