<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>map</title>

    <link
      rel="stylesheet"
      href="../static/css/map.css"
    />

  </head>



  <body>

    <h1>旅チャット</h1>
  
  <!---クラスで名前をつけてcssで読み込めるように-->
   <div class="日本地図">
      <img src="https://github.com/Hackathon-F-team/F-team/blob/develop/static/img/%E6%97%A5%E6%9C%AC%E5%9C%B0%E5%9B%B3.png?raw=true">

       <div class="北海道">
        <a href="/pref/{{1}}">{{prefectures[0]['name_jp']}}のチャンネル一覧</a><br>
       </div>

       <div class="青森">
        <a href="/pref/{{2}}">{{prefectures[1]['name_jp']}}のチャンネル一覧</a><br>
       </div>

       <div class="秋田">
        <a href="/pref/{{3}}">{{prefectures[2]['name_jp']}}のチャンネル一覧</a><br>
       </div>

       <div class="岩手">
        <a href="/pref/{{4}}">{{prefectures[3]['name_jp']}}のチャンネル一覧</a><br>
       </div>

       <div class="山形">
        <a href="/pref/{{5}}">{{prefectures[4]['name_jp']}}のチャンネル一覧</a><br>
       </div>

       <div class="宮城">
        <a href="/pref/{{6}}">{{prefectures[5]['name_jp']}}のチャンネル一覧</a><br>
       </div>

       <div class="福島">
        <a href="/pref/{{7}}">{{prefectures[6]['name_jp']}}のチャンネル一覧</a><br>
       </div>
       



  </div>    


  </body>
</html>





