<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>map</title>

    <link
      rel="stylesheet"
      href="../static/css/map.css"
    />

  </head>




  <body>

   <h1>旅チャット</h1>
  
   <div class="日本地図"><!---このクラスを基準に位置調整されている-->
      <img src="https://github.com/Hackathon-F-team/F-team/blob/develop/static/img/%E6%97%A5%E6%9C%AC%E5%9C%B0%E5%9B%B3.png?raw=true"class="map1">

       <div class="北海道">
        <a href="#hokkaido">北海道</a> <!---ページ内リンクの作成-->
       </div>

       <div class="東北地方">
        <a href="#touhoku">東北地方</a>
       </div>


       <div class="関西地方">
        <a href="ccc">関西地方</a>
       </div>

       <div class="信越・北陸地方">
        <a href="ddd">信越・北陸地方</a>
       </div>

       <div class="東海地方">
        <a href="eee">東海地方</a>
       </div>

       <div class="近畿地方">
        <a href="/fff">近畿地方</a>
       </div>

       <div class="中国地方">
        <a href="/ggg">中国地方</a>
       </div>
       
       <div class="四国地方">
        <a href="/hhh">四国地方</a>
       </div>

       <div class="九州地方">
        <a href="/iii">九州地方</a>
       </div>


  </div>  



  <div class="channels"><!---ここから下のグレー部分-->

    <div class="box1">

        <p id="hokkaido">北海道</p><br><!---ページ内リンクの着地点-->
        <a href="/pref/{{1}}">{{prefectures[0]['name_jp']}}のチャンネル一覧</a><br>
    </div>


    <div class="box2">

      <p id="touhoku">東北地方</p><br><!---ページ内リンクの着地点-->
      <ul id="touhokulist">   <!---ul順番になっていないリスト-->
        <li><a href="/pref/{{2}}">{{prefectures[1]['name_jp']}}のチャンネル一覧</a></li>
        <li><a href="/pref/{{3}}">{{prefectures[2]['name_jp']}}のチャンネル一覧</a></li>
        <li><a href="/pref/{{4}}">{{prefectures[3]['name_jp']}}のチャンネル一覧</a></li>
        <li><a href="/pref/{{5}}">{{prefectures[4]['name_jp']}}のチャンネル一覧</a></li>
        <li><a href="/pref/{{6}}">{{prefectures[5]['name_jp']}}のチャンネル一覧</a></li>
        <li><a href="/pref/{{7}}">{{prefectures[6]['name_jp']}}のチャンネル一覧</a></li>
      </ul>

      </div>

  </div>
  </div>

  



  </body>
</html>





