<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>map</title>

    <link
      rel="stylesheet"
      href="../static/css/map.css"
    />

  </head>



  <body>

    <h1>旅チャット</h1>
  
  <!---クラスで名前をつけてcssで読み込めるように-->
   <div class="日本地図">
      <img src="https://github.com/Hackathon-F-team/F-team/blob/develop/static/img/%E6%97%A5%E6%9C%AC%E5%9C%B0%E5%9B%B3.png?raw=true">

       <div class="北海道">
        <a href="/pref/{{1}}">{{prefectures[0]['name_jp']}}のチャンネル一覧</a><br>
       </div>
         <!---画像貼り付け。参考URL：https://qiita.com/miriwo/items/409b5ca98c0989e942e2-->
  </div>    


  </body>
</html>




