<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マイ情報編集</title>
  <link
      rel="stylesheet"
      href="../../static/css/user-profile.css"
  />
</head>
<!--ヘッダー-->
<body>
   <h1>{{user.nickname}}さん</h1>
    <!--アイコンイメージ画像　画像を選択したらここに表示されるようにしたい　さらに丸枠に収まるように-->
     <div>
       <h4>あなたの情報を更新できます</h4>

  <form method=post enctype=multipart/form-data>
  <!-- <form action="CGIプログラムのURI" method="get"> -->

        <p>
          <!-- src="../static/img/6123.png" -->
         <img
          class="img"
          id="preview"
          src = "{{img_path}}"      
          style="max-width:200px;">

        </p>
        <label>        
          <input
          type="file"
          name="file"
          class="img-button"
          accept='image/*'
          onchange="previewImage(this);">
          画像設定
        </label>
      </div>
      <!--ニックネーム-->
      <div class="data-txt">
      <div class="introduce">ニックネーム</div>
      <input type="text" class="name-txt" name="nickname" placeholder={{user.nickname}}></input>
      <!--自己紹介-->
      <div class="introduce">自己紹介</div>

      <input type="text" class="introduce-text" name="profile" 
      
      placeholder=
      {% if user.profile %}
      {{user.profile}}
      {% else %}
      自己紹介文はまだありません
      {% endif %}
      >

      </input>
      <!--登録ボタン-->
      <div>  
        <button type=submit class="profile-button"> 登録 </button> <br>
          <!-- <a href="" class="profile-button" onclick="updatemyInfo(); return false;">更新</a> -->

      </div>
  </form>

  <script>
    function previewImage(obj)
    {
        var fileReader = new FileReader();
        fileReader.onload = (function() {
            document.getElementById('preview').src = fileReader.result;
        });
        fileReader.readAsDataURL(obj.files[0]); 
    }

    function updatemyInfo()
    {
      alert("更新完了")

    }
  </script>
</body>
</html>